.member-txt{
    font-size: 20px;
    top: 10px;
    font-weight: 100;

}

.members-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    min-height: 100vh;
    margin-top: 100px;

}

.members-container .member{
    position: relative;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    width: 100%;
    margin-top: 15px;
    margin-bottom: rgba(0, 0, 0, 0.014);
    padding: 20px;
    border-radius: 50px;
}

.members-container .member .member-img{
    height: 300px;
    width: 300px;
    border-radius: 40px;
    background: url(../props/img3.jpg);
    background-size: cover;
    background-position: center;
    border: 2px solid var(--color-sec-light);

}

